/*@import url('../reset.css');*/

/*.project-archive-container {*/
/*    padding: 40px;*/
/*    margin-top: 100px;*/
/*}*/

/*.search-bar {*/
/*    margin-bottom: 20px;*/
/*    text-align: center;*/
/*}*/

/*.search-bar input[type="text"] {*/
/*    padding: 10px;*/
/*    width: 300px;*/
/*    border: 1px solid #ddd;*/
/*}*/

/*.search-bar button {*/
/*    padding: 10px 20px;*/
/*    background-color: #333;*/
/*    color: white;*/
/*    border: none;*/
/*    cursor: pointer;*/
/*}*/

/*.filters {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    margin-bottom: 20px;*/
/*}*/

/*.filter-item {*/
/*    margin-right: 20px;*/
/*}*/

/*.filter-item label {*/
/*    display: block;*/
/*    margin-bottom: 5px;*/
/*}*/

/*.filter-item select,*/
/*.filter-item input {*/
/*    padding: 8px;*/
/*    width: 200px;*/
/*    border: 1px solid #ddd;*/
/*}*/

/*.filter-item button {*/
/*    padding: 10px 20px;*/
/*    background-color: #333;*/
/*    color: white;*/
/*    border: none;*/
/*    cursor: pointer;*/
/*}*/

.view-switcher {
    text-align: center;
    margin-bottom: 20px;
}

.view-switcher button {
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    cursor: pointer;
}

.view-switcher button.active {
    background-color: #333;
    color: white;
}


/*.project-map {*/
/*    width: 100%;*/
/*    height: 900px;*/
/*    background-color: #e0e0e0;*/
/*}*/

#project-map {
    width: 100% !important;
    height: 500px !important; /* Ajustez cette valeur en fonction de vos besoins */
}

.view-hidden {
    display: none;
}

.view-active {
    display: block;
}
.project-archive-container{
    padding: 0px 80px;
}
.project-archive-header {
    width: 100%;
    /*position: relative;*/
    position: sticky;
    z-index: 5;
    display: flex;
    margin-top: 2rem;
    margin-bottom: 3rem;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}


.project-archive-header .view-switcher {
    order: 0;
}

.forms {
    order: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.forms #search-form {
    display: flex;
    width: 220px;
    padding-bottom: 0.3rem;
    border-bottom: black solid 2px;

}

.forms #search-input {
    border: none;
    outline: none;
    /*height: ;*/
}


.project-grid {
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*gap: 8px;*/
    columns: 430px;
}

.project-grid .project-item{
    position: relative;
}

.project-grid .project-item img{
    width: 100%;
    display: block;
    object-fit: cover;
    margin-bottom: 1em;
}

.project-grid .project-item h3{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    inset: 0;
    font-size: 1.5rem;
    background-color: black;
    opacity: 0;
    color: white;
}

.project-grid .project-item:hover h3{
    opacity: 0.6;
    transition: opacity 0.8s ease-out 0.5s;

}

