/*@import url('../reset.css');*/

/* Fullscreen slider */
.swiper-container {
    width: 100vw;  /* Occupe toute la largeur de l'écran */
    height: 100vh; /* Occupe toute la hauteur de l'écran */
    position: relative; /* Positionnement relatif pour le slider */
    overflow: hidden;
}

.swiper-slide img {
    width: 100vw;  /* Image prend toute la largeur */
    height: 100vh; /* Image prend toute la hauteur */
    object-fit: cover; /* S'assure que l'image couvre bien l'espace */
}

/* Pagination et boutons du slider */
.swiper-pagination {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    color: #fff;
}

.swiper-button-prev, .swiper-button-next {
    color: #fff;
    z-index: 10;
    width: calc(44px /  30*27);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.swiper-button-prev {
    left: 20px;
}

.swiper-button-next {
    right: 20px;
}

/*Content style*/
.related-projects .container .similar_project_title{
    margin: 30px;
    font-size: 2rem;
    font-weight: bold;

    text-align: center;
}
.related-projects .container .projects-grid {
    display: flex;
    width: 100%;
}
.related-projects .container .projects-grid .project-item {
    position: relative;
}
.related-projects .container .projects-grid .project-item .project_title{
    position: absolute;
    color: white;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    opacity: 0;
    transition: opacity 0.1s ease-out;
    font-size: 1.2rem;
}
.related-projects .container .projects-grid .project-item:hover .project_title{
    opacity: 0.8;
    transition: opacity 0.1s ease-out;
}

.project-content{
    padding: 0px 80px;
    margin: 80px 0px;
}

.project-content .project-title{
    font-weight: bold;
    font-size: 2rem;
    text-align: left;
    margin-bottom: 50px;
}

.project-content .main_part{
    display: flex;
    width: 100%;
}
.project-content .main_part .project-main{
    width: calc(100% - (400px));
    font-size: 1.2rem;
}
.project-content .main_part .project-sidebar .sidebar-content .projects_infos{
    padding: 10px 50px;
}
.project-content .main_part .project-sidebar .sidebar-content .theme{
    padding: 10px 50px;
}
.project-content .main_part .project-sidebar{
    margin-left: 100px;
    width: 400px;
    background-color: black;
    color: white;
    font-size: 18px;
    line-height: 1.55555555;
    letter-spacing: 1px;
}
.sidebar-content .separator::before{
    content: '';
    color: white;
    display: block;
    width: 100%;
    height: 1px;
    border: dashed white 1px;

}
.project-content .main_part .project-sidebar .sidebar-item {
    margin-bottom: 10px;
    margin-top: 8px;
}
.project-content .main_part .project-sidebar .sidebar-item .download-button {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
.project-content .main_part .project-sidebar .sidebar-item .download_link {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 40px;
}

@media (width <= 1024px) {
    .project-content .main_part{
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }

    .project-content .main_part .project-main{
        width: 100%;
        font-size: 1.2rem;
    }
    .project-content .main_part .project-sidebar{
        width: 100%;
        margin-left: 0px;
    }
}



