image: php:8.2

stages:
  - lint
  - deploy

# Vérification de la syntaxe PHP
lint_php:
  stage: lint
  script:
    - find . -name "*.php" -exec php -l {} \;

# Déploiement vers le serveur cPanel via SFTP
deploy_to_cpanel:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add --no-cache lftp
  script:
    - lftp -e "set ftp:ssl-allow no; open -u $FTP_USER,$FTP_PASSWORD $FTP_SERVER; mirror -R ./ $FTP_PATH --exclude .git/ --exclude .gitlab-ci.yml --exclude README.md; quit"
  only:
    - main
  environment:
    name: production
    url: http://$FTP_SERVER # À ajuster si nécessaire
