/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr {
    margin: 0;
    padding: 0;
    font-family: 'Galano Grotesque', sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-family: 'Galano Grotesque', sans-serif !important;
}

/* h1,
h2,
h3,
h4,
h5,
h6, */
ul {
    list-style: none
}

button,
input,
select {
    margin: 0
}

html {
    box-sizing: border-box
}

*,
*::before,
*::after {
    box-sizing: inherit
}

img,
video {
    height: auto;
    max-width: 100%
}

iframe {
    border: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td,
th {
    padding: 0
}

h1 {
    font-size: 56px;
    font-weight: bold;
    line-height: 1.2;
    color: #333;
    /* Gris foncé */
}

h2 {
    font-size: 42px;
    font-weight: bold;
    line-height: 1.3;
    color: #333;
}

h3 {
    font-size: 32px;
    font-weight: 600;
    line-height: 1.4;
    color: #333;
}

/*p {*/
/*    font-size: 8px;*/
/*    color: #444;*/
/*    margin-bottom: 24px;*/
/*    font-weight: normal;*/
/*    text-justify:auto;*/
/*}*/

p {
    font-size: 18px;
    /* Taille normale */
    color: #444;
    /*margin: 16px 100px;*/
    /*padding: 10px 22px;*/
    font-weight: normal;
    text-align: justify;
}