/* General Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

@import url(reset.css);

/* Body Styling */
body {
    font-family: Arial, sans-serif;
    color: #000000;
    background-color: #fff;
}

/* Navbar Styling */
header {
    width: 100%;
    padding: 3.2rem 5rem 1rem 5rem;
    position: fixed;
    top: 0%;
    overflow: hidden;
    z-index: 5;
    /* background-color: blueviolet; */
    background-color: transparent;

}

.menu {
    display: none;
}


.nav-mobile {
    display: none;
}
.nav-mobile {
    color: white;
}

.nav-mobile .close-menu {
    cursor: pointer;
    display: block;
    padding: 10px 0px 0px 0px;
    margin-bottom: 2rem;
}

.nav-mobile-apparition {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding-right: 2rem;
    position: absolute;
    z-index: 10;
    background-color: #000000;
    height: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
}

.mobile_links .mobile-links {
    display: flex;
    color: white;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 4rem;
    justify-content: space-between;
    height: 300px;

}
.mobile_links .mobile-links a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem

}

.social-links-mobile-footer {
    height: 50px;
    padding: 20px;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    /* position: absolute; */
    width: 100%;
    top: 0;
    background: transparent;
}

.hero-bg {
    display: block;
    position: relative;
    width: 100dvw;
    height: 100dvh;

}

.hero {
    width: 100dvw;
    height: 100dvh;
}

.logo {
    margin-right: 5rem;
    /* width: 25%; */
    /* width: 30px; */

}

.nav-links {
    display: flex;
    width: 35rem;
    justify-content: space-between;
    align-items: center;
    /* background-color: red; */
}

.links {
    list-style: none;
    width: 75%;
    display: flex;
    justify-content: space-between;
}

.links li a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    position: relative;
}



.links li a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #ffffff;
    transform-origin: bottom right;
    transform: scaleX(0);
    transition: transform 0.5s ease;
}

.links li a:hover::before {
    transform-origin: bottom left;
    transform: scaleX(1);
}

/* .logo a {
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
}




.links li {
    margin-left: 20px;
}

 */

.language-selector {
    background-color: blue;
    /* width: 25dvw; */

}

.language-selector a {
    color: white;
    margin-left: 10px;
    text-decoration: none;
    font-size: 0.9rem;
}

/* Hero Section */
.hero-social {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.hero-image img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

/* Social Links */
.social-links {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(255, 255, 255, 0.5); */
    background-color: transparent;
    /* border: 0.1px solid black; */
    border-radius: 10px 0px 0px 10px;
    padding: 3px 0px 0px 3px;
}

.social-links a {
    margin: 10px 0;
}

.social-links img {
    width: 30px;
    height: 30px;
    color: black;
}


/* Footer Styling */
footer {
    /* text-align: center; */
    padding: 20px;
    /* background-color: rgba(0, 80, 64, 0.7); */
    color: white;
    position: absolute;
    bottom: 0%;
    right: 0%;
    display: flex;
    font-size: 0.8rem;
}

.footer-links a {
    margin: 0 10px;
    /* text-decoration: underline; */
    color: white;
    position: relative;

}


.footer-links a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #ffffff;
    transform-origin: bottom right;
    transform: scaleX(0);
    transition: transform 0.5s ease;
}

.footer-links a:hover::before {
    transform-origin: bottom left;
    transform: scaleX(1);
}

/* Media queries */
@media (width <= 769px) {
    footer{
        font-size: 0.6rem;
    }
}
@media (width <=1024px) {
    header {
        padding: 1rem 2rem 1rem 2rem;
        background-color: white;
        color: black;

    }

    .menu {
        display: block;
        cursor: pointer;
        color: black;
    }

    .hero{
        position: relative;
    }

    /* .nav-mobile{
        display: flex;
        position: absolute;
        z-index: 10;
        background-color: #000000;
        height: 100%;
        width: 100%;
        top: 0%;
        right: 0%;
        bottom: 0%;
        left: 0%;
    } */

    .links {
        display: none;
    }
}

/* animation */

/* ----------------------------------------------
 * Generated by Animista on 2024-10-13 17:25:52
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
.nav-mobile-apparition {
    -webkit-animation: nav-mobile-apparition .5s cubic-bezier(.25, .46, .45, .94) both;
    animation: nav-mobile-apparition .5s cubic-bezier(.25, .46, .45, .94) both;
    /* transition: all; */

}

@-webkit-keyframes nav-mobile-apparition {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        opacity: 0
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
}

@keyframes nav-mobile-apparition {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        opacity: 0
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
}

.slide-out-right {
    -webkit-animation: slide-out-right .5s cubic-bezier(.55, .085, .68, .53) both;
    animation: slide-out-right .5s cubic-bezier(.55, .085, .68, .53) both
}


@-webkit-keyframes slide-out-right {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }

    100% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0
    }
}

@keyframes slide-out-right {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }

    100% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0
    }
}

.plusButton {
    /* Config start */
    --plus_sideLength: 2.5rem;
    --plus_topRightTriangleSideLength: 0.9rem;
    /* Config end */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    width: var(--plus_sideLength);
    height: var(--plus_sideLength);
    background-color: #000000;
    overflow: hidden;
}

.plusButton::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-width: 0 var(--plus_topRightTriangleSideLength) var(--plus_topRightTriangleSideLength) 0;
    border-style: solid;
    border-color: transparent white transparent transparent;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
}

.plusButton:hover {
    cursor: pointer;
}

.plusButton:hover::before {
    --plus_topRightTriangleSideLength: calc(var(--plus_sideLength) * 2);
}

.plusButton:focus-visible::before {
    --plus_topRightTriangleSideLength: calc(var(--plus_sideLength) * 2);
}

.plusButton>.plusIcon {
    fill: white;
    width: calc(var(--plus_sideLength) * 0.7);
    height: calc(var(--plus_sideLength) * 0.7);
    z-index: 1;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
}

.plusButton:hover>.plusIcon {
    fill: black;
    transform: rotate(180deg);
}

.plusButton:focus-visible>.plusIcon {
    fill: black;
    transform: rotate(180deg);
}